version: '3.7'

services:

    spodlivoi:
        image: docker.pkg.github.com/tsunamaru/spodlivoibot/ci-build:latest
        build: 
          dockerfile: Dockerfile
          context: .
        environment:
            TELEGRAM_BOT_TOKEN: 
            TELEGRAM_BOT_USERNAME: 
            TELEGRAM_BOT_ADMIN-CHAT-ID: ${TELEGRAM_BOT_ADMIN_CHAT_ID}
            SPRING_DATASOURCE_USERNAME: spodlivoi
            SPRING_DATASOURCE_PASSWORD: "${POSTGRES_PASSWORD:-ChangeMeBef0reF!rstRun}"
            SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/spodlivoi
            LOGGING_FILE_NAME: /var/log/spodlivoi.log
        logging:
          driver: "json-file"
          options:
            max-size: "10m"
            max-file: "5"
        deploy:
          resources:
            limits:
              cpus: "0.25"
        restart: always
        volumes:
          - spodlivoilogs:/var/log
        depends_on:
            - db

    db:
        image: postgres:13-alpine
        environment:
            POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-ChangeMeBef0reF!rstRun}"
            POSTGRES_USER: spodlivoi
            POSTGRES_DB: spodlivoi
            PGDATA: /var/lib/postgresql/data/pgdata
        volumes:
          - spodlivoidb:/var/lib/postgresql/data/pgdata
        restart: always

volumes:
  spodlivoidb:
  spodlivoilogs: 
