name: Deployment

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

env:
  CI_IMAGE_NAME: ci-build

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ['x86_64']
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: false
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '17'
          java-package: jdk
          architecture: x64

      - name: Install Gradle 7.5.1
        run: wget https://downloads.gradle-dn.com/distributions/gradle-7.5.1-bin.zip && unzip gradle-7.5.1-bin.zip

      - name: Run checkstyle
        run: ./gradle-7.5.1/bin/gradle checkstyleMain

      - name: Run Gradle
        run: ./gradle-7.5.1/bin/gradle build

      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build CI image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/$CI_IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          VERSIONS=()
          if [[ $GITHUB_REF == refs/heads/master ]]; then
            VERSIONS+=("latest")
            VERSIONS+=("RELEASE.$(date -u '+%Y-%m-%dT%H-%M-%SZ')")
          else
            VERSIONS+=("${GITHUB_REF##*/}-${GITHUB_SHA:0:7}-$(date +%s)")
          fi

          echo IMAGE_ID=$IMAGE_ID
          echo VERSIONS=${VERSIONS[@]}

          for VERSION in "${VERSIONS[@]}"; do
            echo "Building $IMAGE_ID:$VERSION"
            docker buildx build --platform linux/amd64,linux/arm64 -t $IMAGE_ID:$VERSION . --push -f Dockerfile
          done

      - name: Delete all containers from repository without tags
        uses: Chizkiyahu/delete-untagged-ghcr-action@v2
        with:
            token: ${{ secrets.CLEANUP_PAT_TOKEN }}
            repository_owner: ${{ github.repository_owner }}
            repository: ${{ github.repository }}
            untagged_only: true
            owner_type: user
